// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;
  @media only screen and (max-width: em(900)) {
    margin-right: rem(33);
  }
  // .select__body
  &__body {
    position: relative;
  }
  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    width: 100%;
    background: $accentColor;
    box-shadow: 0px 4px 20px rgba(13, 77, 42, 0.33);
    border-radius: 4px;
    max-width: rem(56);
    ._select-open & {
      border-radius: 4px 4px 0 0;
    }
    @media only screen and (max-width: em(900)) {
      border: none;
    }
  }
  // .select__value
  &__value {
    display: flex;
    align-items: center;
    height: rem(28);
    padding: 0 rem(6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(56);
    @media only screen and (max-width: em(900)) {
      height: auto;
      padding: rem(12) rem(6);
    }
    > * {
      flex: 1 1 auto;
    }
    &:after {
      content: '';
      transform: translateY(-50%);
      background: url('@img/header/arrow-bottom.svg');
      width: 12px;
      height: 9px;
      pointer-events: none;
      transition: all 0.3s;
      margin-top: rem(8);
      ._select-open & {
        transform: rotate(-180deg);
        margin-top: rem(0);
      }
    }
    &._select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);
        opacity: 0.5;
      }
    }
  }
  // .select__content
  &__content {
    line-height: percent(19, 16);
    color: #ffffff;
    @media only screen and (max-width: em(900)) {
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: #fff;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: $accentColor;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 6px 0px 8px 0px;
    max-width: rem(56);
    @media only screen and (max-width: em(900)) {
      padding: rem(9) 0px rem(11) 0px;
      border: none;
    }
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 1.5px 6px;
    color: inherit;
    @media only screen and (max-width: em(900)) {
      padding: rem(9) rem(6) rem(9);
    }
    &--hide {
      display: none;
    }
    &._select-selected {
      background-color: #eee;
    }
    @media (any-hover: hover) {
      &:hover {
        background: darken($accentColor, 20);
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
