// Заголовки, общие БЄМ блоки и проче...
*[class*='__container'] {
  @media only screen and (max-width: em(768)) {
    padding: 0 rem(10);
  }
}
//////////////////////////////////////
/// LOGO BLOCK
///////////////////////////////////////

.logo {
  @media only screen and (max-width: em(900)) {
    margin-right: auto;
  }
  // .logo__text

  &__text {
    font-weight: 700;
    @include adaptiveValue('font-size', 24, 20, 1230, 375, 1);
    @include adaptiveValue('line-height', 28, 24, 1230, 375, 1);
  }

  // .logo__text--green

  &__text--green {
    color: $accentColor;
  }

  // .logo__text--black

  &__text--black {
    color: $titleColor;
  }
}

//////////////////////////////////////
/// MENU BLOCK
///////////////////////////////////////

.menu {
  margin-right: rem(30);
  @media only screen and (max-width: em(900)) {
    margin-right: rem(0);
  }

  // .menu__list

  &__list {
    display: flex;
    gap: rem(30);
    @media only screen and (max-width: em(900)) {
      flex-direction: column;
      margin-bottom: rem(22);
    }
  }

  // .menu__item

  &__item {
    position: relative;
  }

  // .menu__link

  &__link {
    @include adaptiveValue('font-size', 16, 22, 1230, 375, 1);
    @include adaptiveValue('line-height', 19, 26, 1230, 375, 1);
    &:hover {
      color: $accentColor;
      transition: all 0.5s;
    }
  }

  .menu__item:hover .menu__hint {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  // .menu__hint

  &__hint {
    max-width: rem(336);
    position: absolute;
    left: 50%;
    padding-top: rem(7);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: rem(336);
    transition: all 0.5s;

    @media only screen and (max-width: em(900)) {
      position: static;
      left: 0%;
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
    }
  }

  // .menu__hint-box

  &__hint-box {
    padding: rem(20) rem(20) rem(20);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 6px 10px rgba(6, 43, 23, 0.1);
    @media only screen and (max-width: em(900)) {
      box-shadow: none;
      border-radius: 0;
      padding: rem(26) 0 0 rem(39);
    }
  }

  // .menu__text

  &__text {
    line-height: percent(19, 16);
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 15, 28, 1230, 375, 1);
    }
  }
}

//////////////////////////////////////
/// TITLE BLOCK
///////////////////////////////////////

.title {
  font-weight: 500;
  @include adaptiveValue('font-size', 35, 20, 1600, 375, 1);
  @include adaptiveValue('line-height', 41, 26, 1600, 375, 1);
  color: $titleColor;
}

//////////////////////////////////////
/// BTN BLOCK
///////////////////////////////////////

.btn {
  font-weight: 700;
  @include adaptiveValue('font-size', 17, 16, 1600, 375, 1);
  @include adaptiveValue('line-height', 20, 19, 1600, 375, 1);
  color: #ffffff;
  max-width: rem(300);
  min-height: rem(60);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20);
  background: $accentColor;
  box-shadow: 0px rem(4) rem(20) rgba(13, 77, 42, 0.33);
  border-radius: rem(10);
  transition: background 0.5s;
  cursor: pointer;
  &--light {
    background: #ffffff;
    border: rem(2) solid $accentColor;
    color: $accentColor;
    box-shadow: none;

    &:hover {
      border: rem(2) solid $hoverColor;
      color: #fff;
    }
    &:active {
      background: $accentColor;
      border: rem(2) solid $accentColor;
      color: #fff;
    }
  }
  &:hover {
    background: $hoverColor;
  }
  &:active {
    background: $accentColor;
  }
}

//////////////////////////////////////
/// SLIDER BLOCK
///////////////////////////////////////

.slider {
  padding: rem(160) 0 rem(102);
  @media only screen and (max-width: em(768)) {
    padding: rem(73) 0 rem(27);
  }

  // .slider__container

  &__container {
  }

  // .slider__inner

  &__inner {
    display: flex;
    gap: rem(74);
    @media only screen and (max-width: em(1100)) {
      gap: rem(30);
    }
    @media only screen and (max-width: em(1000)) {
      flex-direction: column;
    }
    @media only screen and (max-width: em(576)) {
      gap: rem(0);
    }
  }

  // .slider__swiper-box

  &__swiper-box {
    position: relative;
    @media only screen and (max-width: em(1200)) {
      width: 50%;
    }
    @media only screen and (max-width: em(1000)) {
      width: 100%;
    }
    @media only screen and (max-width: em(576)) {
      margin-bottom: rem(16);
    }
  }

  // .slider__swiper

  &__swiper {
    max-width: rem(600);
    @media only screen and (max-width: em(1000)) {
      max-width: 100%;
    }
  }

  // .slider__box

  &__box {
  }

  // .slider__item

  &__item {
  }

  // .slider__img-box

  &__img-box {
    display: flex;
    justify-content: center;
  }

  // .slider__img

  &__img {
  }

  // .slider__button

  &__button {
    background: #ffffff;
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.5s;
    @media only screen and (max-width: em(768)) {
      display: none;
    }
    &:hover {
      background: $hoverColor;
    }
    &:active {
      background: $accentColor;
    }
    &.swiper-button-disabled {
      background: $disabledColor;
    }
  }

  // .slider__button-prev

  &__button-prev {
    left: 0;
  }

  // .slider__button-next

  &__button-next {
    right: 0;
  }

  // .slider__pagination

  &__pagination {
    display: flex;
    gap: rem(15);
    justify-content: center;
    align-items: center;
    .swiper-pagination-bullet {
      width: rem(15);
      height: rem(15);
      background: #eeeff2;
      border-radius: 50%;
      transition: all 0.5s;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      width: rem(28);
      background: $accentColor;
      border-radius: rem(50);
    }
  }

  // .slider__info

  &__info {
  }

  // .slider__title

  &__title {
    margin-bottom: rem(15);
  }

  // .slider__name

  &__name {
    font-weight: 500;
    @include adaptiveValue('font-size', 22, 16, 1600, 375, 1);
    @include adaptiveValue('line-height', 26, 19, 1600, 375, 1);
    @include adaptiveValue('margin-bottom', 15, 12, 1600, 375, 1);
    color: $titleColor;
    @media only screen and (max-width: em(768)) {
      font-weight: 600;
    }
  }

  // .slider__desc

  &__desc {
    @include adaptiveValue('font-size', 17, 14, 1600, 375, 1);
    @include adaptiveValue('line-height', 25, 19, 1600, 375, 1);
    @include adaptiveValue('margin-bottom', 30, 28, 1600, 375, 1);
    color: #4f5665;
  }

  // .slider__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    @include adaptiveValue('margin-bottom', 24, 32, 1600, 375, 1);
  }

  // .slider__list-item

  &__list-item {
  }

  // .slider__text

  &__text {
    font-size: 17px;
    line-height: 20px;
    @include adaptiveValue('font-size', 17, 14, 1600, 375, 1);
    @include adaptiveValue('line-height', 20, 17, 1600, 375, 1);
    color: #000000;
    display: flex;
    gap: rem(15);
    align-items: center;

    &::before {
      content: '';
      background: url('@img/slider/check.svg') no-repeat;
      width: rem(20);
      height: rem(20);
    }
  }

  // .slider__btn

  &__btn {
    @media only screen and (max-width: em(425)) {
      margin: 0 auto;
    }
  }
}

//////////////////////////////////////
/// SIMILAR-GOODS BLOCK
///////////////////////////////////////

.similar-goods {
  padding: rem(50) 0 rem(127);
  @media only screen and (max-width: em(768)) {
    padding: rem(20) 0 rem(85);
  }

  // .similar-goods__container

  &__container {
  }

  // .similar-goods__title

  &__title {
    margin-bottom: rem(127);
    @include adaptiveValue('margin-bottom', 127, 24, 1600, 375, 1);
  }

  // .similar-goods__inner

  &__inner {
    display: flex;
    gap: rem(50);
    justify-content: space-between;
    @media only screen and (max-width: em(650)) {
      flex-direction: column;
    }
  }

  // .similar-goods__item

  &__item {
    display: flex;
    flex-basis: rem(550);
    @media only screen and (max-width: em(1200)) {
      flex-direction: column;
      gap: rem(36);
      flex-basis: 50%;
    }
  }

  // .similar-goods__box

  &__box {
    @media only screen and (max-width: em(1200)) {
      text-align: center;
    }
  }

  // .similar-goods__img

  &__img {
  }

  // .similar-goods__info

  &__info {
  }

  // .similar-goods__name

  &__name {
    font-weight: 500;
    @include adaptiveValue('font-size', 19, 16, 1600, 375, 1);
    @include adaptiveValue('line-height', 23, 19, 1600, 375, 1);
    @include adaptiveValue('margin-bottom', 12, 20, 1600, 375, 1);
    color: $titleColor;
  }

  // .similar-goods__name-link

  &__name-link {
  }

  // .similar-goods__descr

  &__descr {
    @include adaptiveValue('font-size', 17, 14, 1600, 375, 1);
    @include adaptiveValue('line-height', 25, 20, 1600, 375, 1);
    @include adaptiveValue('margin-bottom', 22, 28, 1600, 375, 1);
  }

  // .similar-goods__btn

  &__btn {
    @media only screen and (max-width: em(375)) {
      margin: 0 auto;
    }
  }
}

//////////////////////////////////////
/// CTA BLOCK
///////////////////////////////////////

.cta {
  // .cta__container

  &__container {
  }

  // .cta__inner

  &__inner {
    padding: rem(66) rem(100);
    background: #ffffff;
    box-shadow: 0px rem(4) rem(63) rgba(165, 165, 165, 0.25);
    border-radius: rem(10);
    display: flex;
    align-items: center;
    gap: rem(164);
    @media only screen and (max-width: em(1000)) {
      gap: rem(82);
    }
    @media only screen and (max-width: em(900)) {
      flex-direction: column;
      gap: rem(16);
      align-items: start;
    }
    @media only screen and (max-width: em(576)) {
      padding: rem(30) rem(12);
    }
  }

  // .cta__info

  &__info {
    max-width: rem(410);
    width: 100%;
  }

  // .cta__title

  &__title {
    margin-bottom: rem(13);
  }

  // .cta__descr

  &__descr {
    @include adaptiveValue('font-size', 17, 14, 1600, 375, 1);
    @include adaptiveValue('line-height', 25, 20, 1600, 375, 1);
  }

  // .cta__box

  &__box {
    max-width: rem(300);
    width: 100%;
  }

  // .cta__btn

  &__btn {
  }
}
