//====================================================================================================
//////////////////////////////////////
/// HEADER
///////////////////////////////////////

.header {
  padding: rem(25) 0;
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 5;
  @media only screen and (max-width: em(768)) {
    padding: rem(12) 0;
  }
  // .header__container

  &__container {
  }

  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: em(900)) {
      justify-content: start;
    }
  }

  // .header__box

  &__box {
    display: flex;
    align-items: center;
  }

  // .header__links

  &__links {
    display: flex;
    align-items: center;
    @media only screen and (max-width: em(900)) {
      position: fixed;
      left: -100%;
      transition: all 0.5s;
      top: rem(66);
      flex-direction: column;
      align-items: start;
      justify-content: start;
      background: #fff;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      .menu-open & {
        position: fixed;
        left: 0;
        padding: rem(29) 0 0 rem(12);
        overflow: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .header__mail

  &__mail {
    margin-right: rem(18);
    line-height: percent(19, 16);
    @media only screen and (max-width: em(900)) {
      margin-right: rem(0);
    }
  }

  // .header__language

  &__language {
  }

  // .header__select

  &__select {
  }

  // .header__values

  &__values {
  }

  // .header__value

  &__value {
  }

  // .header__burger

  &__burger {
    display: none;
    @media (max-width: em(900)) {
      display: block;
      position: relative;
      width: rem(16);
      height: rem(14);
      cursor: pointer;
      z-index: 5;
      span,
      &::before,
      &::after {
        content: '';
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: rem(2);
        background-color: $mainColor;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: calc(50% - rem(1));
      }
      .menu-open & {
        span {
          width: 0;
        }
        &::before,
        &::after {
        }
        &::before {
          top: calc(50% - rem(1));
          transform: rotate(-45deg);
        }
        &::after {
          bottom: calc(50% - rem(1));
          transform: rotate(45deg);
        }
      }
    }
  }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
